<!-- dialog.component.html -->
<h2 mat-dialog-title>ADD OFFSET</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full-width" >
        <input matInput formControlName="name" placeholder="name (lowercase only and no space allow)" />
        <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('pattern')">Name must contain only lowercase letters</mat-error>
      </mat-form-field>
    <mat-form-field class="full-width" >
      <input matInput formControlName="title" placeholder="title" />
    </mat-form-field>

    <mat-form-field style="width: 100%;" >
        <mat-label>Url</mat-label>
          <input matInput placeholder="Update title here" formControlName="url" >
     
         
          <mat-error *ngIf="form.invalid">
            Please enter title.
          </mat-error>
        </mat-form-field>

    
        <mat-form-field class="full-width"  >
          <input matInput placeholder="Enter content here" formControlName="text" hidden>
          <ckeditor
        formControlName="text"
        [config]="editorConfig"
      ></ckeditor>
         
     
        </mat-form-field>
        <mat-form-field  >
            <mat-label>Amount</mat-label>
            <input type="number" matInput placeholder="Update Amount here" formControlName="amount" >
       
           
            <mat-error *ngIf="form.invalid">
              Please enter title.
            </mat-error>
          </mat-form-field >
   
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">




  <div class="example-button-row" >
    <button
    type="button"
    class="add-btn " 
    mat-raised-button
    [disabled]="form.invalid"
     color="primary" class="update_btn" (click)="onSubmit()">SAVE</button>
  <button
  type="button" 
  mat-raised-button
color="accent"
  class="add-btn " 
  (click)="onCancel()">CANCEL</button>

  
  </div>
</mat-dialog-actions>
