			                
body{margin-top:20px;}
.avatar{
width:200px;
height:200px;
}		
.container{
    margin-top: 25px;
    width: auto !important;
}
div.card {

    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
.wp{
  margin-top: 25px !important;
  text-align: left;
}
  #icon {
    width:200px;
    height: auto !important;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 3px #B8B8B8;
    position: relative;
  }
  
  div img {
    width:200px;
    height:200px;
    border-radius: inherit;
  }
  .imgs{
    width:200px;
    height:200px;
  }
  div i {
    position: absolute;
    top: 20px;
    right: -7px;
    /* border: 1px solid; */
    border-radius: 50%;
    /* padding: 11px; */
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: cornflowerblue;
    box-shadow: 0 0 8px 3px #B8B8B8;
  }

.wrapperOuter{
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 30px;

}

.wrapper{
  width: 100%;
  height: 100%;
  padding: 35px;
  background: #fff;
  box-shadow: 2px 2px 12px rgba(0, 0,0, 0.1),-1px -1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.wrapper h2.title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  color: #444;
  margin-bottom: 30px;
}
.form-group{
  display: flex;
  margin: 5px;


}
.form-group label{
  margin-top: 8px;
  width: 12%;
}
#top{
  margin-top: 10px;
}


.example-button-row {
  display: flex;
  justify-content: space-between;
}


.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}



.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

